{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Django{% endblock %}</title>
    <link rel="icon" type="image/x-icon" href="{% static 'home/favicon.png' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    {% block head %}{% endblock %}
</head>
<body>
    <nav>
        <div class="nav-wrapper">
            <a href="#" class="brand-logo"><i class="material-icons ml-5">rocket_launch</i></a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="/admin">Admin</a></li>
                <li><a href="/">Home</a></li>
                <li><a href="/htmx_page">HTMX</a></li>
                <li><a href="/upload_page">Upload</a></li>
            </ul>
        </div>
    </nav>
    <div class="container">
        {% block content %}{% endblock %}
    </div>

    <script src="https://unpkg.com/@tailwindcss/browser@4"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    {% block scripts %}{% endblock %}
</body>
</html>