{% extends "home/base.html" %}

{% block title %}Home - Djailwind{% endblock %}

{% block content %}
    <h3 class="text-3xl font-bold">
        Hello, World! Welcome to Djailwind!
    </h3>

    <a href="{% url 'log_button' %}" onclick="event.preventDefault(); fetch(this.href).then(() => location.reload());" class="waves-effect waves-light btn">Refresh</a>

    <table>
        <thead>
            <tr>
                <th>Button Log</th>
            </tr>
        </thead>
    
        <tbody>
            {% for log in button_logs %}
                <tr>
                    <td>{{ log }}</td>
                </tr>
            {% empty %}
                <tr>
                    <td>No button presses logged yet.</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}