{% extends "home/base.html" %}

{% block head %}{% endblock %}

{% block title %}Rolls{% endblock %}

{% block content %}

<h1 class="text-3xl font-bold">
  Welcome to the Rolls Page
</h1>

<!-- table goes here -->

<table id="button-log-table">
  <thead>
      <tr>
          <th>Button Log</th>
      </tr>
  </thead>
  <tbody>
      {% for log in button_logs %}
          <tr>
              <td>{{ log }}</td>
          </tr>
      {% empty %}
          <tr>
              <td>No button presses logged yet.</td>
          </tr>
      {% endfor %}
  </tbody>
</table>

{% endblock %}

{% block scripts %}{% endblock %}